body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7df1e;
    background-image: url(https://camo.githubusercontent.com/6b457452bb92078e3c886e97fdede78beb3d05d931cfd516942e91b26c6c283c/68747470733a2f2f63646e2e7261776769742e636f6d2f7a656b652f6a6176617363726970742d79656c6c6f772f6d61737465722f6c6f676f2e737667);
    border-style: solid;
    border-color: black;
    border-width: medium;
    border-bottom: transparent;
    border-right: transparent;
    text-align: center;
    background-repeat: no-repeat;
    background-position-y: -25px;   
}       